*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}
html,body{
  height: 100%;
  width: 100%;
}
.main{
  height: 100%;
  width: 100%;
  background-color:#20b5f5 ;
  
  display: flex;
 flex-wrap: wrap;
  justify-content: center;
 align-items: center;
  
  
}
.navbar{
  height: 10%;
  width: 80%;
  /* border: 2px solid black; */
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.search{
  height: 100%;
  width: 50% ;
  margin-right: 2vw;
  
}
.icon{
  height: 100%;
  width: 8%;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
i{
  color:grey ;

}
input{
  height: 100%;
  width: 100%;
  border-radius: 30px ;
  border-style: none;
  font-size: 2vw;
  padding: 2vw;
  color: grey;
}
.card{
  height: 60%;
  width: 100%;
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foot{
  height: 15%;
  width: 100%;
  /* border: 2px solid black; */
}
.image{
  height: 40%;
  width: 100%;
  display: flex;
  margin-bottom: 3vw;
  
  justify-content: center;

}
 img{
  height: 100%;
  width:10%;
} 
h1{
  font-size: 5vw;
  margin-bottom: 2vw;
}
h3{
  font-size: 3vw;
  margin-bottom: 2vw;
}
@media (max-width:600px) {
   .search{
    height: 80%;
    width: 80% ;

   
  } 
  .icon{
    height:75% ;
    width: 15%;
    border-radius: 50%;
  }
  input{
   
    color: gray;
    font-size: 5vw;
    padding: 5vw;
  }
  .image{
    margin-bottom: 10vw;
  }
  img{
    height: 50vw;
    width: 25vw;
   
  }
  h1{
    font-size: 14vw;
  }
  h3{
    font-size: 10vw;
  }
}